<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="./images/assets/store_logo_small.png">

    <title>SFECommerce</title>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {{#link-to "index" class="navbar-brand"}}SFECommerce{{/link-to}}
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              {{#link-to "cart"}}
                Cart
                <span id="add-notification" hidden>
                  (Added)
                </span>
              {{/link-to}}
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <form class="navbar-form" {{action "search" on="submit"}}>
                <div class="input-group">
                  {{input value=search type="text" class="form-control pull-right" placeholder="Search"}}
                  <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-search">
                        <span class="sr-only">Search</span>
                      </span>
                    </button>
                  </span>
                </div>
              </form>
            </li>
            {{#if user}}
              <li><a data-toggle="modal" {{action "logout" on="click"}}>Logout</a></li>
            {{else}}
              <li><a data-toggle="modal" data-target="#login-modal">Login</a></li>
            {{/if}}
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
      <div class="app-body" style="margin-top: 20px;">
        {{outlet}}
      </div>
    </div>
    <div id="login-modal" class="modal fade">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h4 class="modal-title">Login</h4>
          </div>
          <form {{action "login" on="submit"}}>
            <div class="modal-body">
              {{#if login_fail}}
                <div class="alert alert-danger" role="alert">
                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                  <span class="sr-only">Error:</span>
                  Wrong credentials
                </div>
              {{/if}}
              {{input value=email type="text" class="form-control" placeholder="Email"}}<br>
              {{input value=password type="password" class="form-control" placeholder="Password"}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-primary">Login</button>
            </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
  </body>
</html>
